---
import Layout from "../../layouts/Layout.astro";
import srcImage from "../../assets/chinook-salmon-fishing-medford-oregon.png";
import { Image } from "astro:assets";
import MyH1 from "../../components/MyH1.astro";
import Salmons from "../../components/Salmons.astro";
---
<Layout 
title="Chinook (King) salmon fishing near Portland, Oregon"
description="Discover everything about Chinook (King) salmon fishing near Portland, Oregon. From top fishing spots to gear, tips, licenses, and recipes."
url="https://portland.oregonfishingforum.com/salmon/chinook/"
type="article"
site_name="Portland Fishing"
ogimage={srcImage.src}
>
    <div class="text-center">
        <MyH1 text="Chinook (King) salmon fishing near Portland, Oregon" />
        <p class="mb-4">Discover everything about Chinook (King) salmon fishing near Portland, Oregon. From top fishing spots to gear, tips, licenses, and recipes.</p>

        <Image
            src={srcImage}
            alt="Chinook (King) salmon fishing near Portland, Oregon"
            loading={"eager"}
            fetchpriority={"high"}
            class="rounded-xl shadow mx-auto"
            />
            <br>
    </div>



<br>
<Salmons salmon="chinook"/>
</Layout>