---
const { bestFor } = Astro.props;
import { Image } from "astro:assets";

import salmonImage from "../assets/best-salmon-fishing-spots-medford-oregon.png";
import steelheadImage from "../assets/best-steelhead-fishing-spots-medford-oregon.png";
import troutImage from "../assets/best-trout-fishing-spots-medford-oregon.png";
import bassImage from "../assets/best-bass-fishing-spots-medford-oregon.png";
---
{ bestFor != "salmon" && (
    <div class="flex bg-white p-2 my-4 shadow text-blue-700 font-semibold">
        <Image src={salmonImage} alt="Best salmon fishing spots near Medford" class="w-14" />
        <a href="/salmon/best-spots/" class="pl-4">Best salmon fishing spots near Medford, Oregon</a>
    </div>
)}
{ bestFor != "steelhead" && (
    <div class="flex bg-white p-2 my-4 shadow text-blue-700 font-semibold">
        <Image src={steelheadImage} alt="Best steelhead fishing spots near Medford" class="w-14" />
        <a href="/steelhead/best-spots/" class="pl-4">Best steelhead fishing spots near Medford, Oregon</a>
    </div>
)}
{ bestFor != "trout" && (
    <div class="flex bg-white p-2 my-4 shadow text-blue-700 font-semibold">
        <Image src={troutImage} alt="Best trout fishing spots near Medford" class="w-14" />
        <a href="/trout/best-spots/" class="pl-4">Best trout fishing spots near Medford, Oregon</a>
    </div>
)}
{ bestFor != "bass" && (
    <div class="flex bg-white p-2 my-4 shadow text-blue-700 font-semibold">
        <Image src={bassImage} alt="Best bass fishing spots near Medford" class="w-14" />
        <a href="/bass/best-spots/" class="pl-4">Best bass fishing spots near Medford, Oregon</a>
    </div>
)}